.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", sans-serif, "Arial", sans-serif;
  color: #757575;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.logo-head {
  text-decoration: none;
  cursor: default;
}

.logo-head__primary {
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-head__secondary {
  color: #212121;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  position: relative;
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: default;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #2196F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: default;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 1;
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

/* Info nav */
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.info__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__item + .info__item {
  margin-left: 50px;
}

.info__link {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: default;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__link:hover, .info__link :focus {
  fill: #2196F3;
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__icon {
  margin-right: 10px;
  vertical-align: middle;
}

.service {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Background-Img.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Background-Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.service__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  color: #ffffff;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  margin-right: 30px;
}
.benefits__item__item:last-child {
  margin-right: 0;
}

.benefits__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.benefits__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.work {
  padding-bottom: 94px;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work__item {
  margin-right: 30px;
  position: relative;
  display: block;
  max-width: 100%;
}
.work__item:last-child {
  margin-right: 0;
}
.work__item::after {
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work__name {
  display: block;
  position: absolute;
  left: 83px;
  bottom: 31px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 1;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  margin-right: 30px;
  border: 1px solid inherit;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-right: 30px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social__link {
  margin-right: 10px;
  fill: #AFB1B8;
  padding: 12px 12px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:last-child {
  margin-right: 0;
}
.social__link:hover, .social__link:focus {
  fill: #ffffff;
  background-color: #2196F3;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  display: block;
  margin: 0 auto;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  text-align: center;
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.alc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-footer {
  margin-bottom: 20px;
  text-decoration: none;
  cursor: default;
}

.logo-footer__primary {
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer__secondary {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address__link {
  display: block;
  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  cursor: default;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:last-child {
  margin-bottom: 0;
}
.address__link:hover, .address__link:focus {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address__text:hover, .address__text:focus {
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:last-child {
  margin-right: 0;
}
.join__link:hover, .join__link:focus {
  background-color: #2196F3;
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__icon {
  display: block;
  margin: 0 auto;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe__input {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  padding: 0;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: #2196F3;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196F3;
}

.subscribe__icon {
  margin-left: 10px;
  vertical-align: middle;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: rgba(33, 150, 243, 0.75);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus, .modal__close:hover {
  fill: #2196F3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 12px;
  padding: 0;
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__border {
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__border:hover, .form__border:focus {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  left: 15px;
  bottom: 11px;
}

.form__input:hover,
.form__input:focus-within {
  border-color: #2196F3;
  outline: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus + .form__icon {
  fill: #2196F3;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments__text {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comments__text:hover, .form-comments__text:focus-within {
  outline: #2196F3;
  cursor: pointer;
  border: 1px solid #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.form-comments input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.form-comments input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.form-comments input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.form-comments input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form-check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-check__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form-check__icon {
  display: inline-block;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check__icon:hover {
  border-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check__input:checked + .form-check__icon {
  background-color: #2196F3;
  padding-right: 1px;
  border: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check__treaty {
  color: #2196F3;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.button-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196F3;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.carousel {
  padding-top: 94px;
  padding-bottom: 94px;
}

.carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.carousel__item {
  margin-left: 8px;
}
.carousel__item:last-child {
  margin-right: 0;
}

.carousel__filter {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: inherit;
  padding: 6px 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.carousel__filter--current {
  color: #ffffff;
  background-color: #2196F3;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: inherit;
  padding: 6px 22px;
}
.carousel__filter:hover, .carousel__filter:focus {
  outline: none;
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples__item {
  display: block;
  border: 1px solid #EEEEEE;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:nth-child(3n) {
  margin-right: 0;
}
.examples__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.examples__item:hover .examples-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__text {
  display: block;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.examples__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.examples__name {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-overlay__text {
  position: absolute;
  top: 63px;
  left: 24px;
  bottom: 63px;
  right: 24px;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */