.contact-block {
    display: flex;
    flex-direction: column;
}
.address__link {
    display: block;
    margin-bottom: 9px;
    text-decoration: none;
    font-style: normal;
    cursor: $cursor-default;
    color: rgba(255, 255, 255, 0.6);
    transition: $hover-focus-effect;

    &:last-child {
        margin-bottom: 0;
}
    &:hover,
    &:focus {
        color: $color-logo;
        transition: $hover-focus-effect;
}
}
.address__text {
    color: $white-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
        color: $color-logo;
        transition: $hover-focus-effect;
}
}
