// .main-nav {
//     display: flex;
//     align-items: center;
// }
// .site-nav {
//     display: flex;
//     margin-left: 93px;
// }
// .site-nav__item {
//     margin-right: 50px;
//     &:last-child {
//     margin-right: 0;
// }
// }
.site-nav__link {
    position: relative;
    display: block;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: $cursor-default;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: $hover-focus-effect;

&--current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $color-logo;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: $cursor-default;
}
&:hover,
&:focus {
    color: $color-logo;
}
}   

