.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe__title {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $white-color;
    text-transform: uppercase;
}

.subscribe__input {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    color: $white-color;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
}
}
.subscribe__button {
    padding: 0;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-color: $color-logo;
    border-radius: 4px;
    color: $white-color;
    background-color: $color-logo;
}
.subscribe__icon {
    margin-left: 10px;
    vertical-align: middle;
}