.work {
    padding-bottom: 94px;
}
.work__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $secondary-text-color;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.work__list {
    display: flex;
    align-items: flex-end;
}
.work__item {
    margin-right: 30px;
    position: relative;
    display: block;
    max-width: 100%;

    &:last-child {
        margin-right: 0;
}

    &::after {
    content: '';
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}
}
.work__img {
    display: flex;
    align-items: flex-end;
}
.work__name {
    display: block;
    position: absolute;
    left: 83px;
    bottom: 31px;
    color: $white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    z-index: 1;
}