    $primary-text-color: #757575;
    $secondary-text-color: #212121;
    $color-logo: #2196F3;
    $white-color: #ffffff;
    $cursor-default: default;
        $cursor-pointer: pointer;
    $hover-focus-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    $page-fonts: 'Roboto', sans-serif, 'Arial', sans-serif;